* {
  margin: 0;
}

.container {
  width: min-content;
  margin: auto;
  padding: 20px;
  border: 1px solid;
}

.card-front-container {
  width: 400px;
  margin-top: 50px;
  padding-bottom: 20px;
  border-radius: 10px;
  background-color: rgb(188, 221, 246);
}

.card-header-container {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding-top: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: space-around;
  background: url("images/dlHeader-design.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;

}

.emblem-logo-container {
  width: 64px;
  height: 70px;
  margin-left: -14px;
  text-align: center;
  align-content: end;
  border-bottom: 1.5px solid;
}

.emblem-logo-container>img {
  width: 30px;
}

.card-front-title-container {
  height: max-content;
  margin-top: -10px;
}

.card-front-title-container>h4 {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.card-front-title-container>p {
  font-size: 12px;
}

.state-name-container {
  margin-top: -15px;
}

.state-name-container>b {
  border: 1px solid;
  border-radius: 50%;
  padding: 3px;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(253, 135, 92);
}

.licence-number {
  width: max-content;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  margin: -5px 0 3px 27px;
}

.photo-and-sign-container {
  text-align: right;
  margin-top: -12px;
}

.photo {
  width: 50px;
  height: 50px;
}

.sign {
  width: 80px;
  height: 25px;
}

.user-personal-info-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 50px;

}

.issue-and-validity-container {
  display: flex;
  width: auto;
  gap: 23px;
  margin-left: 27px;
  line-height: 1.5;
  font-size: x-small;
  font-family: Arial, Helvetica, sans-serif;

}

.first-issue-container {
  width: 350px;
  top: 10%;
  margin-left: 167px;
  transform: rotate(-90deg);
  position: absolute;
  margin-top: 60px;
  font-size: xx-small;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.user-additional-info-container>div {
  display: flex;
  line-height: 1.5;
  gap: 10px;
  padding-left: 15px;
  align-items: center;
  font-size: x-small;
  font-family: Arial, Helvetica, sans-serif;

}

.name-and-sign-seprator-container {
  width: 84%;
  display: flex;
  justify-content: space-between;
}

.name-and-sign-seprator-container>div>p {
  font-size: x-small;
}

.card-back-container {
  width: 400px;
  margin-top: 20px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(188, 221, 246);
}

.licence-number-back {
  height: 30px;
  font-size: small;
  align-content: end;
  padding-left: 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(113, 200, 255);
}

.qr-container {
  display: flex;
  gap: 20px;
}

.qr-img-container>img {
  width: 60px;
  height: 60px;
  margin-top: 5px;
  padding-left: 19px;
}

.regn-and-validity-container>div {
  display: flex;
  gap: 110px;
  font-size: x-small;

}

.regn-number {
  font-size: x-small;
  margin: 3px 0 20px 0;
}

.vehicle-class {
  margin-top: 10px;
  padding: 0 20px 0 20px;
}

.vehicle-class>table {
  text-align: center;
  border-collapse: collapse;

}

.vehicle-class>table>thead>tr>th {
  background-color: rgb(113, 200, 255);
  font-weight: bolder;
}

.vehicle-class>table>tbody>tr>td,
.vehicle-class>table>thead>tr>th {
  width: 50px;
  height: 10px;
  font-size: 7px;
  font-weight: bolder;
  border: 1px solid;
}

.bike-icon {
  width: 17px;
  height: 10px;
}

.car-icon {
  width: 20px;
  height: 10px;
}

.form-and-rule-container {
  width: 400px;
  position: absolute;
  text-align: right;
  margin-top: 65px;
  margin-left: 171px;
  font-size: xx-small;
  font-weight: bold;
  transform: rotate(-90deg);
}

.contact-container {
  display: flex;
  padding: 0 20px 20px 20px;
  margin-top: 5px;
  align-items: end;
  justify-content: space-between;

}

.contact-container>p,
.contact-container>div>p {
  font-size: x-small;
  text-align: center;
}



/* ------------------------------------------------Diving Licence Form------------------------------------------------ */



.licence-container {
  width: 90%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid;
}

.form-container {
  margin: auto;
  margin-top: 50px;
  border: 1px solid red;
}

.front-container {
  width: 50%;
}

.front-container>div {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 20px;
  justify-content: space-between;
}

.front-container>div>input,
.front-container>div>h4 {
  width: 300px;
  height: 30px;
  padding: 0 0 0 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.front-container>div>input{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.front-container>div>textarea {
  width: 300px;
  height: 50px;
  padding-left: 10px;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}